

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil de usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>

                <form class="form p-t-20">
                    
                    <div class="form-group">
                        <label for="exampleInputuname2">User Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputuname2" placeholder="Username">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email address</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar Cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        
        <div class="card">

            <div class="card-body">

                <h4 class="card-title">
                    
                    Avatar
                
                </h4>

                <h6 class="card-subtitle">

                    Imagen del usuario

                </h6>

                <img src="">

                <input type="file">

                <br>
                <br>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Cambiar Imagen
                    </button>
                </div>


            </div>
        </div>
    
    </div>

</div>